footer {
    background-color: var(--c-green);
    padding: 8.5rem 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

footer .logo img{
    height: 5.5rem;
}

footer .logo h2{
    font-size: var(--fs-45);
    color: var(--c-black800);
    font-weight: 500;
}

footer .social_media{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer .social_media p{
    font-size: var(--fs-26);
    font-weight: 500;
}

footer .social_media .all_icons{
    display: flex;
    gap: 2rem;
}

footer .social_media .icon {
    background-color: var(--c-greenlight);
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center
}

footer .social_media .icon img{
    width: 2rem;
}

footer .social_media .icon:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}
