header{
    background-color: rgba(4, 214, 158, 0.2);
    background-image: url("../assets/img/farhad-ibrahimzade-30kYZsukwsk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    header{
    height: 30rem;
   
}
}

@media screen and (max-width: 900px) {
    header{
    height: 25rem;
   
}
}

@media screen and (max-width: 750px) {
    header{
    height: 20rem;
   
}
}

header h1{
    font-size: var(--fs-40);
    color: var(--c-white100);
    text-align: center;
    text-shadow: 0px 2px 6px rgba(71, 71, 71, 0.705);
    max-width: 70%;
}

@media screen and (max-width: 1200px) {
    header h1{
      max-width: 75%;
}
}

@media screen and (max-width: 900px) {
    header h1{
      max-width: 80%;
}
}

@media screen and (max-width: 750px) {
    header h1{
      max-width: 90%;
}
}

@media screen and (max-width: 400px) {
    header h1{
      max-width: 95%;
}
}