.signup_page{
    padding: 8rem 8vw;
}

.signup_page .logo_headline{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.signup_page img{
    height: 5rem;
    width: 5rem;
}



.signup_page h2{
    text-align: center;
    font-size: var(--fs-40);
    color: var(--c-black800);
    margin-bottom: 4rem;
}

.signup_page .text{
    text-align: center;
}

.signup_page p{
    /* text-align: center; */
    font-size: var(--fs-20);
    color: var(--c-black800);
    margin-bottom: 2.5rem;
}

/* .signup_page label{
    font-size: var(--fs-15);
    color: var(--c-black800);
    margin-bottom: 1rem;
} */

.signup_page .green_btn{
    margin-bottom: 4rem;
}

.signup_page .error {
    font-size: var(--fs-15);
    color: var(--c-green);
    font-weight: 600;
    margin-bottom: 2rem;
}

.signup_page .login_link {
    font-size: var(--fs-15);
    color: var(--c-black800);
    font-weight: 600;
}

.signup_page .login_link a {
    
    color: var(--c-green);
    text-decoration: 1px solid underline;
    
}