@font-face {
  font-family: "Inter_Var";
  src: url("../public/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.4s ease-in-out */
}

img {
  max-width: 100%;
}

html{
  font-size: 10px;
  font-family: var(--font-family);
  scroll-behavior: smooth;
  
}

:root {
  --font-family: "Inter_Var", sans-serif;
--c-green: rgb(4, 214, 158);
--c-greenlight: rgb(143, 216, 197);
--c-black400: #858585;
--c-black800: #2C2B2B;
--c-black950: #000000;
--c-white100: #FFFFFF;
--c-white200: #F5F2F2;
--fs-15: clamp(1rem, 1.2vw, 1.5rem);    
  --fs-20: clamp(1.2rem, 1.6vw, 2rem);    
  --fs-24: clamp(1.3rem, 1.8vw, 2.4rem);  
  --fs-26: clamp(1.4rem, 2vw, 2.6rem);    
  --fs-30: clamp(1.6rem, 2.5vw, 3rem);    
  --fs-40: clamp(2rem, 3vw, 4rem);        
  --fs-45: clamp(2.2rem, 3.5vw, 4.5rem);
}

a{
    text-decoration: none;
}

.green_btn{
    background-color: var(--c-green);
    color: var(--c-white100);
    font-size: var(--fs-20);
    padding: 1rem 3.3rem;
    border-radius: 3.2rem;
    cursor: pointer;
    border-style: none;
    transition: all 0.4s ease-in-out
}

.green_btn:hover{
  transform: scale(1.1) rotate(3deg);
  background-color: var(--c-white100);
  color: var(--c-green);
  
  box-shadow: 0 0 10px var(--c-greenlight);
}

.green_btn:disabled{
  background-color: var(--c-white200);
  color: var(--c-green);
  font-size: var(--fs-20);
  padding: 1rem 3.3rem;
  border-radius: 3.2rem;
  cursor: not-allowed;
  border-style: none;
  transition: all 0.4s ease-in-out
}


input, textarea{
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--c-white200);
  color: var(--c-green);
  font-weight: 600;
  margin-bottom: 2rem;
}

::placeholder {
color:var(--c-green);
  font-style: italic;
}

select{
  min-width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--c-white200);
  color: var(--c-green);
  font-weight: 600;
  margin-bottom: 2rem;
}